__pycache__/
*.so
develop-eggs/
dist/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
venv/
env/
ENV/
.venv/
.env/
.vscode/
.idea/
.ipynb_checkpoints
.pytest_cache/
.mypy_cache/
*.log
*.env
.DS_Store
Thumbs.db
node_modules/
/build/
/dist/
